<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body
    style="
      padding: 10px;
      background-color: #43937f;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Ubuntu, sans-serif;
    "
  >
    <div
      style="
        display: none;
        overflow: hidden;
        line-height: 1px;
        opacity: 0;
        max-height: 0;
        max-width: 0;
      "
    >
      Your Convert Request Has Had An Error.
    </div>
    <table
      align="center"
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="
        max-width: 37.5em;
        background-color: #d9d9d9;
        margin: 0 auto;
        padding: 20px 0 48px;
        margin-bottom: 64px;
        border: 4px solid black;
        box-shadow: 4px 4px 0 black;
      "
    >
      <tbody>
        <tr style="width: 100%">
          <td>
            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              style="padding: 0 48px"
            >
              <tbody>
                <tr>
                  <td>
                    <hr
                      style="
                        width: 100%;
                        border: none;
                        border-top: 1px solid #eaeaea;
                        border-color: black;
                        margin: 20px 0;
                      "
                    />
                    <p
                      style="
                        font-size: 1.875rem;
                        line-height: 2.25rem;
                        margin: 16px 0;
                        font-weight: 700;
                        color: rgb(0, 0, 0);
                        text-align: center;
                      "
                    >
                      Your Convert Request Has Been Removed From the Queue due
                      to an Error
                    </p>
                    <hr
                      style="
                        width: 100%;
                        border: none;
                        border-top: 1px solid #eaeaea;
                        border-color: black;
                        margin: 20px 0;
                      "
                    />
                    <table
                      align="center"
                      width="100%"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                      style="
                        max-width: 37.5em;
                        border: 4px solid black;
                        box-shadow: 4px 4px 0 black;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        background-color: rgb(129, 41, 41);
                        padding: 0.5rem;
                      "
                    >
                      <tbody>
                        <tr style="width: 100%">
                          <td>
                            <p
                              style="
                                font-size: 1.125rem;
                                line-height: 1.75rem;
                                margin: 16px 0;
                                color: rgb(255, 255, 255);
                                text-align: left;
                              "
                            >
                              {{.ErrorMsg}}
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <p
                      style="
                        font-size: 1.125rem;
                        line-height: 1.75rem;
                        margin: 16px 0;
                        color: rgb(0, 0, 0);
                        text-align: left;
                      "
                    >
                      Please note, this will not be counted towards your weekly
                      limit. Rectify the error and feel free to send another
                      request. Have a look at a few common fixes below:
                    </p>
                    <table
                      align="center"
                      width="100%"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                      style="
                        max-width: 37.5em;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                      "
                    >
                      <tbody>
                        <tr style="width: 100%">
                          <td>
                            <p
                              style="
                                font-size: 1rem;
                                line-height: 1.5rem;
                                margin: 16px 0;
                                width: 100%;
                                height: 100%;
                                color: rgb(0, 0, 0);
                                text-align: left;
                              "
                            >
                              1. Make sure your Spotify playlist is valid and
                              only has songs.
                            </p>
                            <p
                              style="
                                font-size: 1rem;
                                line-height: 1.5rem;
                                margin: 16px 0;
                                width: 100%;
                                height: 100%;
                                color: rgb(0, 0, 0);
                                text-align: left;
                              "
                            >
                              2. Make sure to stay within your limits, 200 songs
                              and 5 playlists weekly for free users, and 400
                              songs and 10 playlists weekly for premium users.
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <p
                      style="
                        font-size: 16px;
                        line-height: 24px;
                        margin: 16px 0;
                        color: #525f7f;
                        text-align: left;
                      "
                    >
                      <a
                        href="mailto:help@vibeify.xyz"
                        style="color: #43937f; text-decoration: none"
                        target="_blank"
                        >Feel free to mail us to get support.</a
                      >
                    </p>
                    <p
                      style="
                        font-size: 16px;
                        line-height: 24px;
                        margin: 16px 0;
                        color: #525f7f;
                        text-align: left;
                      "
                    >
                      — The Vibeify team
                    </p>
                    <hr
                      style="
                        width: 100%;
                        border: none;
                        border-top: 1px solid #eaeaea;
                        border-color: black;
                        margin: 20px 0;
                      "
                    />
                    <p
                      style="
                        font-size: 12px;
                        line-height: 16px;
                        margin: 16px 0;
                        color: #8898aa;
                      "
                    >
                      Created by Arinji, with Love. © {{ .Year }} Vibeify. All
                      rights reserved.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
